## Pandas 
#### https://pandas.pydata.org/docs/user_guide/10min.html

### 10 minutes to pandas

In [1]:
import numpy as np

import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
## periods means how many dates u want 
dates = pd.date_range("20130401",periods=5)
dates

DatetimeIndex(['2013-04-01', '2013-04-02', '2013-04-03', '2013-04-04',
               '2013-04-05'],
              dtype='datetime64[ns]', freq='D')

In [14]:
dates = pd.date_range("20130401",periods=6)
dates

DatetimeIndex(['2013-04-01', '2013-04-02', '2013-04-03', '2013-04-04',
               '2013-04-05', '2013-04-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-04-01 -0.418088  0.669456  0.688720  0.484731
2013-04-02  0.113350  1.235462 -0.450080 -0.750224
2013-04-03  1.424629  0.805772 -2.090520 -0.171683
2013-04-04  0.004026  0.890564 -1.145257 -0.716461
2013-04-05  0.293117 -0.301371  1.138712 -2.033399
2013-04-06 -0.531133  0.258403 -1.587141  0.866555